@* được truyền từ View() *@
@*- nhận dữ liệu số nguyên *@
@*@model int*@
@*- nhận dữ liệu là class (phải có đường dẫn) *@
@model List<PhuongAnhIT.Models.clsSinhVien>

@{
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

@{
    ViewBag.Title = "Index";
    ViewBag.ListStudents = new string[] { "Thanh Toan", "Thanh Tri", "Huy Dat", "Ngoc Ty", "Quang Man" };
    ViewBag.Active = 1;
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <div class="heading_container">
                <h1>HOME PAGE</h1>
            </div>
        </div>

        <div class="col-md-12">
            <h3> Dữ liệu truyền từ Controller -> Views </h3>
            <h4 style="color: orange"> Bằng ViewBag: </h4>
            <p>
                + A = @Html.Raw(ViewBag.A != null ? ViewBag.A : "chưa có !")
                <br />
                + TinhTong(10, 20) = @Html.Raw(ViewBag.TinhTong != null ? ViewBag.TinhTong : "chưa có !")
            </p>

            <h4 style="color: orange"> Bằng tham số View(): </h4>
            <table width="100%" border="1">
                <tr>
                    <th>ID</th>
                    <th>Mã số</th>
                    <th>Họ và tên</th>
                    <th>Lớp</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> @item.ID </td>
                        <td> @item.MaSo </td>
                        <td> @item.HoVaTen </td>
                        <td> @item.Lop </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

@section PageName{
    <h2 style="color: white; text-align: center">HOME PAGE</h2>
} 