@model IEnumerable<PhuongAnhIT.Models.KhachHang>

@{
    ViewBag.Title = "Customer Static";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
    ViewBag.ListStudents = new string[] { "Thanh Toan", "Thanh Tri", "Huy Dat", "Ngoc Ty", "Quang Man" };
    ViewBag.Active = 4;
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <h1>CUSTOMER PAGE</h1>
            <p>
                <a href="~/CustomerStatic/ThemMoiKhachHang">Thêm mới khách hàng</a>
            </p>
        </div>

        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Avatar)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Number)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sex)
                    </th>
                    <th>
                        Action
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            <img src="@item.Avatar" style="width: 80px; border-radius: 5px;" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sex)
                        </td>
                        <td>
                            <a href="~/CustomerStatic/CapNhatKhachHang?idKhachHang=@item.Id">Sửa</a> | 
                            <a onClick="confirmDelete(@item.Id)" href="#">Xoá</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

@section PageName{
    <h2 style="color: white; text-align: center">CUSTOMER STATIC PAGE</h2>
}

@section handleJavascript{
    <script>
        const confirmDelete = (id) => {
            if (confirm("Bạn chắc chắn là xoá chứ ?") == true) {
                window.location.href = "/CustomerStatic/XoaKhachHang?idKhachHang=" + id; 
            }
        }
    </script>
}