@model IEnumerable<AnhPhuongITDataBase.Models.KhachHang>
@{
    Layout = "~/Views/Shared/LayoutUser.cshtml";
    ViewBag.Title = "customer page";
    ViewBag.ListStudents = new string[] { "Thanh Toan", "Thanh Tri", "Huy Dat", "Ngoc Ty", "Quang Man" };
    ViewBag.Active = 1;
    AnhPhuongITDataBase.Models.PhuongAnhITEntities db = new AnhPhuongITDataBase.Models.PhuongAnhITEntities();
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <a href="~/Customer/AddCustomer">Thêm mới khách hàng</a>

            <div style="float: right;" `>
                <select class="form-control" onchange="handleFilter(value);">
                    <option value=""> Tất cả </option>
                    @foreach (var loai in db.PhanLoaiKhachHangs.ToList())
                    {
                        <option value=@loai.Id @Html.Raw(loai.Id == ViewBag.idLoaiKH ? "selected " : "")>
                            @loai.TenPhanLoai
                        </option>
                    }
                </select>
            </div>

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TenKhachHang)
                    </th>
                    <th>
                        Ảnh đại diện
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SoDienThoai)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DiaChi)
                    </th>
                    <th>
                        Loại khách hàng
                    </th>
                    <th>
                        Thao tác
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenKhachHang)
                        </td>
                        <td>
                            <img src="@Url.Content(item.Anh)" alt="Image" style="width: 100px" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoDienThoai)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiaChi)
                        </td>
                        <td>
                            @if(item.IdLoaiKhachHang != null)
                            {
                                @item.PhanLoaiKhachHang.TenPhanLoai
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditCustomer", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "DeleteCustomer", new { id = item.Id })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

@section PageName{
    <h2 style="color: white; text-align: center">CUSTOMER PAGE</h2>
}

@section handleJavascript{
    <script>
        var handleFilter = (id) => {
            console.log(id);
            window.location.href = '/Customer/?idLoaiKH=' + id;
        }
    </script>
}
